<h1>Get All Campaigns of Logged in User (Query Result)</h1>

<h4>Request Headers</h4>
<pre><%= JSON.pretty_generate({authorization: "Bearer #{params[:token]}", content_type: 'application/json'}) %></pre>
<br>
<h4>Response Body</h4>
<pre><%= JSON.pretty_generate(JSON.parse(@data)) %></pre>