<h1>Campaign Dashboard App (Refresh Token)</h1>

<h4>Request Body</h4>
<pre><%= JSON.pretty_generate({grant_type: 'refresh_token', refresh_token: "#{params[:refresh_token]}", client_id: "#{ENV['APP_ID']}", client_secret: "#{ENV['APP_SECRET']}"}) %></pre>
<br>
<h4>Response Body</h4>
<pre><%= JSON.pretty_generate(JSON.parse(@data)) %></pre>